<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huhi.sms.dao.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huhi.sms.entity.Employee">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="login_id" property="loginId" />
        <result column="password" property="password" />
        <result column="phone_num" property="phoneNum" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="salary" property="salary" />
        <result column="picture" property="picture" />
        <result column="employee_id" property="employeeId" />
    </resultMap>

</mapper>
